<!DOCTYPE html>
<html>
<head>
    <title> Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
</head>
<body>
    <div class="Main">
    {{>header}} <!--//just provide file name without path or extenstion-->
    <img class="portrait" src="/img/robot.png" alt="">
    <p>{{body}}</p>
    </div>
    {{>footer}}
</body>



</html>